body{
    background-image: url("https://media-cdn-zspms.kurogame.net/pnswebsite/website2.0/images/1670774400000/e3zv84n1y98h9u9ray-167083992689883.jpg");
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}